<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.pushservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="eu.trentorise.smartcampus.pushservice.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="eu.trentorise.smartcampus.pushservice.permission.C2D_MESSAGE" />
  <meta-data
                android:name="SENDER_ID"
                android:value="200219070178" />
            <meta-data
                android:name="SERVER_URL"
                android:value="https://vas-dev.smartcampuslab.it/core.communicator" />
            <meta-data
                android:name="APP_ID"
                android:value="Risolutore" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.trentorise.smartcampus.pushservice.PushServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="SENDER_ID"
                android:value="200219070178" />
            <meta-data
                android:name="SERVER_URL"
                android:value="https://vas-dev.smartcampuslab.it/core.communicator" />
            <meta-data
                android:name="APP_ID"
                android:value="Risolutore" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="eu.trentorise.smartcampus.pushservice" />
            </intent-filter>
        </receiver>

        <service android:name=".NotificationService" />
    </application>

</manifest>